language: node_js
node_js:
  - "stable"
deploy:
  provider: heroku
  api-key:
    secure: $HEROKU_TOKEN
  app: fastwebsite
cache:
  directories:
  - node_modules
script:
  - npm run build
