/**$body-font-family = 'Arquette', Arial, Helvetica, sans-serif;
@require '~vuetify/src/stylus/main.styl'*/

@font-face
  font-family "ATCArquette Black"
  src url("../assets/fonts/ATCArquette-Black.ttf")