/**$body-font-family = 'Arquette', Arial, Helvetica, sans-serif;
@require '~vuetify/src/stylus/main.styl'*/

  @font-face {
  font-family "ATCArquette_Black";
  src url("../assets/fonts/ATCArquette-Black.ttf");
  }

  @font-face {
    font-family "ATCArquette_Medium";
    src url("../assets/fonts/ATCArquette-Medium.ttf");
  }

  @font-face {
    font-family "ATCArquette_Bold";
    src url("../assets/fonts/ATCArquette-Bold.ttf");
  }

  @font-face {
  font-family "ATCArquette_Light";
  src url("../assets/fonts/ATCArquette-Light.ttf");
  }

