/* Palette dav purple */

$near-black-dav : #020214;
$purple-dav : #130E3A;
$dark-dav : #42405B;
$mid-dav : #898899;
$light-dav: #D0CFD6;
$near-white-dav : #F3F3F5;

$dark-lavender-dav : #45277F;
$mulberry-dav : #B62181;
$bubblegum-dav : #F18FBA;
$turquoise-dav : #33CCCC;

.near-black-dav {
  color: $near-black-dav;
}

.purple-dav {
  color: $purple-dav;
}

.dark-dav {
  color: $dark-dav;
}

.mid-dav {
  color: $mid-dav;
}

.light-dav {
  color: $light-dav;
}

.near-white-dav {
  color: $near-white-dav;
}

.dark-lavender-dav {
  color: $dark-lavender-dav;
}

.mulberry-dav {
  color: $mulberry-dav !important;
}

.bubblegum-dav {
  color: $bubblegum-dav;
}

.turquoise-dav {
  color: $turquoise-dav;
}

.bg-mulberry-dav {
  background-color: $mulberry-dav !important;
}
