/* Palette dav purple */

$near-black-dav : #020214;
$purple-dav : #130E3A;
$dark-dav : #42405B;
$mid-dav : #898899;
$light-dav: #D0CFD6;
$near-white-dav : #F3F3F5;

$dark-lavender-dav : #45277F;
$mulberry-dav : #B62181;
$bubblegum-dav : #F18FBA;
$turquoise-dav : #33CCCC;

$theme-purple-dav : linear-gradient(to right top, #130e3a, #1c1740, #252047, #2d2a4d, #363353, #403d5b, #494762, #53516a, #605e76, #6d6c81, #7b7a8d, #898899);
$theme-accentuate-dav : linear-gradient(to right top, #45277f, #5d2782, #742584, #892485, #9d2284, #ab2d87, #b9388b, #c6438e, #d15798, #dc6aa3, #e77dae, #f18fba);

.near-black-dav {
  color: $near-black-dav;
}

.bg-near-black-dav {
  background-color: $near-black-dav;
}

.purple-dav {
  color: $purple-dav;
}

.bg-purple-dav {
  background-color: $purple-dav;
}

.dark-dav {
  color: $dark-dav;
}

.bg-dark-dav {
  background-color: $dark-dav;
}

.mid-dav {
  color: $mid-dav;
}

.bg-mid-dav {
  background-color: $mid-dav;
}

.light-dav {
  color: $light-dav;
}

.bg-light-dav {
  background-color: $light-dav;
}

.near-white-dav {
  color: $near-white-dav;
}

.bg-near-white-dav {
  background-color: $near-white-dav;
}

.dark-lavender-dav {
  color: $dark-lavender-dav;
}

.bg-dark-lavender-dav {
  background-color: $dark-lavender-dav;
}

.mulberry-dav {
  color: $mulberry-dav !important;
}

.bg-mulberry-dav {
  background-color: $mulberry-dav !important;
}


.bubblegum-dav {
  color: $bubblegum-dav;
}

.bg-bubblegum-dav {
  background-color: $bubblegum-dav;
}

.turquoise-dav {
  color: $turquoise-dav;
}

.bg-turquoise-dav {
  background-color: $turquoise-dav;
}

.bg-theme-purple-dav {
  background-image: $theme-purple-dav;
}

.bg-theme-accentuate-dav {
  background-image: $theme-accentuate-dav;
}

/* Fonts ATCArquette */

@mixin font($font-family, $font-file) {
  @font-face {
    font-family: $font-family;
    src: url($font-file) format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}

@include font('ATCArquette_Black', 'assets/fonts/ATCArquette-Black.ttf');
@include font('ATCArquette_BlackItalic', 'assets/fonts/ATCArquette-BlackItalic.ttf');
@include font('ATCArquette_Bold', 'assets/fonts/ATCArquette-Bold.ttf');
@include font('ATCArquette_BoldItalic', 'assets/fonts/ATCArquette-BoldItalic.ttf');
@include font('ATCArquette_Extralight', 'assets/fonts/ATCArquette-Extralight.ttf');
@include font('ATCArquette_ExtralightItalic', 'assets/fonts/ATCArquette-ExtralightItalic.ttf');
@include font('ATCArquette_Light', 'assets/fonts/ATCArquette-Light.ttf');
@include font('ATCArquette_LightItalic', 'assets/fonts/ATCArquette-LightItalic.ttf');
@include font('ATCArquette_Medium', 'assets/fonts/ATCArquette-Medium.ttf');
@include font('ATCArquette_MediumItalic', 'assets/fonts/ATCArquette-MediumItalic.ttf');
@include font('ATCArquette_Regular', 'assets/fonts/ATCArquette-Regular.ttf');
@include font('ATCArquette_RegularItalic', 'assets/fonts/ATCArquette-RegularItalic.ttf');
@include font('ATCArquette_Semibold', 'assets/fonts/ATCArquette-Semibold.ttf');
@include font('ATCArquette_SemiboldItalic', 'assets/fonts/ATCArquette-SemiboldItalic.ttf');

.ATCArquette-Black {
  font-family: ATCArquette_Black, Helvetica, Arial, sans-serif;
}

.ATCArquette-BlackItalic {
  font-family: ATCArquette_BlackItalic, Helvetica, Arial, sans-serif;
}

.ATCArquette-Bold {
  font-family: ATCArquette_Bold, Helvetica, Arial, sans-serif;
}

.ATCArquette-BoldItalic {
  font-family: ATCArquette_BoldItalic, Helvetica, Arial, sans-serif;
}

.ATCArquette-Extralight {
  font-family: ATCArquette_Extralight, Helvetica, Arial, sans-serif;
}

.ATCArquette-ExtralightItalic {
  font-family: ATCArquette_ExtralightItalic, Helvetica, Arial, sans-serif;
}

.ATCArquette-Light {
  font-family: ATCArquette_Light, Helvetica, Arial, sans-serif;
}

.ATCArquette-LightItalic {
  font-family: ATCArquette_LightItalic, Helvetica, Arial, sans-serif;
}

.ATCArquette-Medium {
  font-family: ATCArquette_Medium, Helvetica, Arial, sans-serif !important;
}

.ATCArquette-MediumItalic {
  font-family: ATCArquette_MediumItalic, Helvetica, Arial, sans-serif;
}

.ATCArquette-Regular {
  font-family: ATCArquette_Regular, Helvetica, Arial, sans-serif;
}

.ATCArquette-RegularItalic {
  font-family: ATCArquette_RegularItalic, Helvetica, Arial, sans-serif;
}

.ATCArquette-Semibold {
  font-family: ATCArquette_Semibold, Helvetica, Arial, sans-serif;
}

.ATCArquette-SemiboldItalic {
  font-family: ATCArquette_SemiboldItalic, Helvetica, Arial, sans-serif;
}