/* Palette dav purple */

$near-black-dav : #020214;
$purple-dav : #130E3A;
$dark-dav : #42405B;
$mid-dav : #898899;
$light-dav: #D0CFD6;
$near-white-dav : #F3F3F5;

$dark-lavender-dav : #45277F;
$mulberry-dav : #B62181;
$bubblegum-dav : #F18FBA;
$turquoise-dav : #33CCCC;

$theme-purple-dav : linear-gradient(to right top, #130e3a, #1c1740, #252047, #2d2a4d, #363353, #403d5b, #494762, #53516a, #605e76, #6d6c81, #7b7a8d, #898899);
$theme-accentuate-dav : linear-gradient(to right top, #45277f, #5d2782, #742584, #892485, #9d2284, #ab2d87, #b9388b, #c6438e, #d15798, #dc6aa3, #e77dae, #f18fba);

.near-black-dav {
  color: $near-black-dav;
}

.bg-near-black-dav {
  background-color: $near-black-dav;
}

.purple-dav {
  color: $purple-dav;
}

.bg-purple-dav {
  background-color: $purple-dav;
}

.dark-dav {
  color: $dark-dav;
}

.bg-dark-dav {
  background-color: $dark-dav;
}

.mid-dav {
  color: $mid-dav;
}

.bg-mid-dav {
  background-color: $mid-dav;
}

.light-dav {
  color: $light-dav;
}

.bg-light-dav {
  background-color: $light-dav;
}

.near-white-dav {
  color: $near-white-dav;
}

.bg-near-white-dav {
  background-color: $near-white-dav;
}

.dark-lavender-dav {
  color: $dark-lavender-dav;
}

.bg-dark-lavender-dav {
  background-color: $dark-lavender-dav;
}

.mulberry-dav {
  color: $mulberry-dav !important;
}

.bg-mulberry-dav {
  background-color: $mulberry-dav !important;
}


.bubblegum-dav {
  color: $bubblegum-dav;
}

.bg-bubblegum-dav {
  background-color: $bubblegum-dav;
}

.turquoise-dav {
  color: $turquoise-dav;
}

.bg-turquoise-dav {
  background-color: $turquoise-dav;
}

.bg-theme-purple-dav {
  background-image: $theme-purple-dav;
}

.bg-theme-accentuate-dav {
  background-image: $theme-accentuate-dav;
}
